@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
  /* font-family: "Quicksand", sans-serif; */
  font-family: "League Spartan", sans-serif;
  /* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif */
}

img {
  pointer-events: none;
}
.land-bg {
  background-image: url(./assets/bg1.jpg);
  /* background-image: url(https://static.vecteezy.com/system/resources/previews/000/312/077/non_2x/green-3d-hexagon-tech-background-vector-illustration.jpg); */
  /* background: url(image.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
}
.fam1 {
  font-family: "League Spartan", sans-serif;
}
.fam2 {
  font-family: "Quicksand", sans-serif;
}
.fam3 {
  font-family: "Montserrat", sans-serif;
}
.fam4 {
  font-family: "Poppins", sans-serif;
}
.fam5 {
  font-family: "Nunito", sans-serif;
}
.fam6 {
  font-family: "Titillium Web", sans-serif;
}
.App-header {
  /* background-color: #f55252; */
  min-height: 100vh;
  width: 100vw;
}
.td-none {
  text-decoration: none !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
.theme1 {
  background-color: #101c2f !important; /* 1c1c1c*/
}
.load-bg {
  background-color: #00000065 !important; /* 1c1c1c*/
}
/* .li-theme {
  background-color: #03c7fd !important;
}
.da-theme {
  background-color: #3503fd !important;
} */
.bg-transparent {
  background-color: transparent;
}
.li-theme {
  background-color: #313e51 !important;
}
.da-theme {
  background-color: #242d3b !important;
}
.li-font {
  color: #313e51;
}
.da-font {
  color: #242d3b;
}
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgb(211, 68, 255);
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(141, 0, 184);
}

.br-10 {
  border-radius: 10px;
}
.br-15 {
  border-radius: 15px;
}
.br-20 {
  border-radius: 20px;
}
.textField__label {
  color: #fff !important;
}
/* body {
  /* overflow: hidden;  */
/* }  */

/* HEADER */

.li-shadow {
  box-shadow: 0px 3px 10px #0000007e;
}
.li-y-shadow {
  box-shadow: 0px -3px 10px #0000007e;
}
.li-lx-shadow {
  box-shadow: 3px 0px 10px #0000007e;
}
.lit-shadow {
  box-shadow: 0px 0px 10px #ffffffe6;
}
.brand .name {
  font-size: 20px;
}
.of-y {
  overflow-y: hidden;
  overflow-x: scroll !important;
}
.navlinks {
  font-size: 30px !important;
}
.min-vh-100 {
  min-height: 100vh !important;
}
.shade1 {
  background-color: #012e40;
  /* background-color: #000000; */
  /* background-color: #526767; */
}
.shade2 {
  /* background-color: #464646; */
  background-color: #024959;
}
.shade3 {
  /* background-color: #464646; */
  background-color: #026773;
}
.shade4 {
  /* background-color: #464646; */
  background-color: #3ca6a6;
}
.shade5 {
  /* background-color: #b09944; */
  background-color: #2f1525;
}
.shade6 {
  background-color: #f2e3d5;
}
.shade7 {
  background-color: #6c8bbf;
}
.shade8 {
  background-color: #3c4f62;
}
.shade9 {
  background-color: #b39292;
}
.shade10 {
  background: linear-gradient(100deg, #3ca6a6a7, #026873c2);
  border: 2px solid rgba(255, 255, 255, 0.613);
  box-shadow: 5px 5px 10px #0000005e;
  /* backdrop-filter: blur(10px); */
  /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkhMaX2b0MeTbjB7vr39KDTadUgSiWHvsVtw&usqp=CAU); */
  /* background: url(https://t3.ftcdn.net/jpg/04/31/78/32/360_F_431783271_FgZdpN22W5k2NMdNuBjlDVz6Gmj3MwxR.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(7px); */
}
.shade101 {
  background: url(https://t3.ftcdn.net/jpg/04/31/78/32/360_F_431783271_FgZdpN22W5k2NMdNuBjlDVz6Gmj3MwxR.jpg);
  /* background: url(https://static.vecteezy.com/system/resources/previews/002/504/349/large_2x/red-and-dark-blue-shaded-gradient-background-free-photo.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
}
.shade11 {
  background-color: #3c4f62;
}
.shade12 {
  background: url(https://hdwallpaperim.com/wp-content/uploads/2017/09/17/64881-blurred-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.shade13 {
  background-color: #f2e3d5a1;
}
.glassy1 {
  background: #0268739f;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid #26ed51;
}
.glassy2 {
  background-color: transparent;
  /* background-color: #00000062; */
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px); */
}
.li-black {
  background-color: #00000096;
}
.font1 {
  color: #012e40;
}
.font2 {
  color: #024959;
}
.font3 {
  color: #026773;
}
.font4 {
  color: #3ca6a6;
}
.font5 {
  color: #f2e3d5 !important;
}
.font6 {
  color: #d8fe01;
  /* color: #68cfff; */
  /* color: #ffa268; */
}
.cursor-pointer {
  cursor: pointer;
}
.title-line {
  height: 7px;
}
.title-circle {
  height: 7px;
  width: 7px;
}
.section-title {
  font-weight: 900 !important;
  /* text-decoration: underline; */
  /* font-family: "Titillium Web", sans-serif; */
  color: #fff !important;
  font-size: 50px !important;
  text-align: center !important;
}

/* .sections {
  /* margin-right:100px; */
/* } */
/* .menu { */
/* display: flex;
  flex-direction:column; */
/* } */
.logo-js {
  font-size: 15px !important;
  font-weight: 700 !important;
}
/* .logo-btn{
} */

.logo {
  /* border-radius: 13px !important ; */
  /* padding: 2px 8px !important; */
}
.name {
  font-weight: 800 !important;
  font-size: 22px !important;
}
/* .web-menu {
  /* display: flex; */
/* } */

/* .mob-menu {
  display: none;
} */

/* BODY  */
.bbody {
  padding: 12px;
  padding-bottom: 36px;
}

/* CONTACT */

/* .section-title {
  font-weight: 800 !important;
  text-decoration: underline;
  justify-content: center;
} */

.download a {
  text-decoration: none;
  color: white;
}

.download a i {
  font-weight: bold;
}

/* ABOUT */
.about {
  padding-bottom: 48px;
}

.info {
  font-size: 24px;
  /* border: 8px dashed white; */
  border-radius: 15px;
}

.info:hover {
  font-size: 24px;
  /* color: black; */
  /* background-color: yellow; */
  /* border: 8px solid yellow; */
  /* padding-left: 50px; */
  /* border-radius: 15px; */
  transition: 0.3s ease-in-out;
}

.surya-img {
  border-bottom: 4px solid white;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px black);
  /* box-shadow: 0px 0px 5px black !important; */
  transform: scale(0.92);
}

.info h1 {
  font-weight: 800;
}

.info h2 {
  font-weight: 600;
}

/* EDUCATION */

/* .schoolPic {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0px 0px 2px black);
}

.MuiTimelineSeparator-root {
  color: black !important;
} */

/* SEPARATOR */

.Separator {
  background-color: aqua;
  height: 6px;
  width: 40%;
  border-radius: 3px;
  margin: 16px 0px;
}

/* WEB */

/* MOB */

.mob {
  background-color: #e40808;
  width: 60vw;
  height: 100vh;
  position: absolute;
  right: 0px;
  top: -6px;
  padding: 18px 12px;
  display: flex;
  flex-direction: column;
}

.close-btn {
  font-size: 25px;
}
.close-btn:hover {
  text-shadow: 0px 0px 10px #fff;
  /* font-size: 28px; */
}

.wb-all {
  word-break: all !important;
}

.boxx {
  height: 40px;
  width: 40px;
}
.boxx-br {
  border-radius: 15px;
}
.name {
  font-size: 90px !important;
}
.abt-des {
  font-size: 35px !important;
}
.ddl {
  font-size: 50px;
}

html {
  scroll-behavior: smooth;
}

.tag-font {
  font-size: 18px;
}
.action {
  font-size: 18px;
}
.prj-img {
  height: 300px;
}
.tog-btn {
  font-size: 30px;
}
.prj-title {
  font-size: 24px;
}
.prj-abt {
  font-size: 22px;
}
.prj-tag {
  font-size: 16px;
}
.skill-cat {
  font-size: 35px;
}
.skl-box {
  width: 80px;
  height: 110px;
}
.skl-img {
  width: 70px !important;
}
.skl-icon {
  font-size: 50px;
}
.skl-name {
  font-size: 13px;
  line-height: 1.1;
}
.work-logo {
  width: 150px;
}
.work-com {
  font-size: 27px;
}
.work-des {
  font-size: 25px;
}
.work-pro {
  font-size: 20px;
}
.val-fed {
  font-size: 40px;
}
.t-field {
  font-size: 22px;
}
.socio {
  font-size: 30px;
}
.con-btn {
  font-size: 20px;
}
.br-con {
  border-bottom-right-radius: 60% 100%;
}

/* .scl-box {
  min-width: 350px;
  max-width: 350px;
} */
.tl-avatar {
  height: 180px;
  width: 180px;
}
.scl-year {
  font-size: 22px !important;
}
.scl-name {
  font-size: 27px;
}
.send-icon {
  font-size: 17px !important;
}

@media only screen and (max-width: 512px) {
  .boxx {
    height: 20px;
    width: 20px;
  }
  .name {
    font-size: 40px !important;
  }
  .abt-des {
    font-size: 17px !important;
  }
  .ddl {
    font-size: 18px;
  }
  .abt-img {
    width: 35vw;
  }
  .abt-text {
    width: 100vw !important;
  }
  .section-title {
    font-size: 25px !important;
  }
  .tag-font {
    font-size: 12px;
  }
  .tog-btn {
    font-size: 20px;
  }
  .prj-img {
    height: 170px;
  }
  .prj-title {
    font-size: 17px;
  }
  .prj-abt {
    font-size: 15px;
  }
  .prj-tag {
    font-size: 12px;
  }
  .action {
    font-size: 13px;
  }
  .skill-cat {
    font-size: 15px;
  }
  .skl-box {
    width: 60px;
    height: 75px;
  }
  .skl-img {
    width: 40px !important;
  }
  .skl-icon {
    font-size: 28px;
  }
  .skl-name {
    font-size: 9px;
  }
  .work-logo {
    width: 90px;
  }
  .work-com {
    font-size: 17px;
  }
  .work-des {
    font-size: 13px;
  }
  .work-pro {
    font-size: 12px;
  }
  .val-fed {
    font-size: 20px;
  }
  .t-field {
    font-size: 16px;
  }
  .socio {
    font-size: 17px;
  }
  .br-con {
    border-bottom-right-radius: 0;
    display: flex;
  }
  .bg-con {
    background-color: #024959;
    border-radius: 30px;
  }

  .scl-box {
    min-width: 200px;
    max-width: 350px;
  }
  .tl-avatar {
    height: 40px;
    width: 40px;
  }
  .scl-year {
    font-size: 12px !important;
  }
  .scl-name {
    font-size: 14px;
  }

  .scl-box {
    width: 10px;
  }
  .tl-avatar {
    height: 50px;
    width: 50px;
  }
  .scl-year {
    font-size: 12px !important;
  }
  .scl-name {
    font-size: 14px;
  }
  .tl-mar {
    margin-left: -40px;
  }
}

@media only screen and (min-width: 512px) and (max-width: 767px) {
  .boxx {
    height: 30px;
    width: 30px;
  }
  .name {
    font-size: 55px !important;
  }
  .abt-des {
    font-size: 19px !important;
  }
  .ddl {
    font-size: 24px;
  }
  .section-title {
    font-size: 30px !important;
  }
  .tag-font {
    font-size: 14px;
  }
  .prj-title {
    font-size: 18px;
  }
  .prj-abt {
    font-size: 16px;
  }
  .prj-tag {
    font-size: 13px;
  }
  .action {
    font-size: 14px;
  }
  .skill-cat {
    font-size: 18px;
  }
  .skl-box {
    width: 75px;
    height: 90px;
  }
  .skl-img {
    width: 50px !important;
  }
  .skl-icon {
    font-size: 28px;
  }
  .skl-name {
    font-size: 12px;
  }
  .work-logo {
    width: 110px;
  }
  .work-com {
    font-size: 19px;
  }
  .work-des {
    font-size: 15px;
  }
  .work-pro {
    font-size: 12px;
  }
  .val-fed {
    font-size: 26px;
  }
  .t-field {
    font-size: 18px;
  }
  .socio {
    font-size: 25px;
  }
  .br-con {
    border-bottom-right-radius: 0;
    display: flex;
  }
  .bg-con {
    background-color: #024959;
    border-radius: 25px;
  }

  .scl-box {
    width: 380px;
  }
  .tl-avatar {
    height: 110px;
    width: 110px;
  }
  .scl-year {
    font-size: 17px !important;
  }
  .scl-name {
    font-size: 18px;
  }
  .tl-mar {
    margin-left: -50px !important;
  }
  /* .prechna{
    height:100vh;
  } */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .name {
    font-size: 60px !important;
    /* line-height: 1.1; */
  }
  .abt-des {
    font-size: 23px !important;
  }
  .ddl {
    font-size: 28px;
  }
  .section-title {
    font-size: 35px !important;
  }
  section {
    scroll-snap-align: start;
  }
  .snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  .tag-font {
    font-size: 14px;
  }
  .action {
    font-size: 16px;
  }
  .prj-img {
    height: 230px;
  }
  .prj-title {
    font-size: 18px;
  }
  .prj-abt {
    font-size: 16px;
  }
  .prj-tag {
    font-size: 14px;
  }
  .action {
    font-size: 15px;
  }
  .skill-cat {
    font-size: 20px;
  }
  .skl-box {
    width: 68px;
    height: 75px;
  }
  .skl-img {
    width: 40px !important;
  }
  .skl-icon {
    font-size: 28px;
  }
  .skl-name {
    font-size: 10px;
  }
  .work-logo {
    width: 110px;
  }
  .work-com {
    font-size: 19px;
  }
  .work-des {
    font-size: 15px;
  }
  .work-pro {
    font-size: 12px;
  }
  .val-fed {
    font-size: 26px;
  }
  .t-field {
    font-size: 15px;
  }
  .socio {
    font-size: 20px;
  }
  .br-con {
    border-bottom-right-radius: 0;
    display: flex;
  }
  .bg-con {
    background-color: #024959;
    border-radius: 20px;
  }

  .scl-box {
    min-width: 200px;
    max-width: 350px;
  }
  .tl-avatar {
    height: 110px;
    width: 110px;
  }
  .scl-year {
    font-size: 17px !important;
  }
  .scl-name {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1365px) {
  .name {
    font-size: 75px !important;
  }
  .abt-des {
    font-size: 28px !important;
  }
  .ddl {
    font-size: 32px;
  }
  .abt-text {
    width: 860vw;
  }
  .abt-img {
    width: 40vw;
  }
  .section-title {
    font-size: 30px !important;
  }
  section {
    scroll-snap-align: start;
  }
  .snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  .tag-font {
    font-size: 14px;
  }
  .prj-img {
    height: 240px;
  }
  .prj-title {
    font-size: 20px;
  }
  .prj-abt {
    font-size: 18px;
  }
  .prj-tag {
    font-size: 15px;
  }
  .action {
    font-size: 16px;
  }
  .skill-cat {
    font-size: 22px;
  }
  .skl-box {
    width: 67px;
    height: 80px;
  }
  .skl-img {
    width: 44px !important;
  }
  .skl-icon {
    font-size: 36px;
  }
  .skl-name {
    font-size: 10.5px;
  }
  .work-logo {
    width: 110px;
  }
  .work-com {
    font-size: 19px;
  }
  .work-des {
    font-size: 15px;
  }
  .work-pro {
    font-size: 12px;
  }
  .val-fed {
    font-size: 30px;
  }
  .t-field {
    font-size: 15px;
  }
  .socio {
    font-size: 20px;
  }
  .scl-box {
    min-width: 250px;
    max-width: 300px;
  }
  .tl-avatar {
    height: 140px;
    width: 140px;
  }
  .scl-year {
    font-size: 20px !important;
  }
  .scl-name {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1366px){
  .name {
    font-size: 85px !important;
  }
  .abt-des {
    font-size: 32px !important;
  }
  .ddl {
    font-size: 40px;
  }
  .abt-text {
    width: 65vw;
  }
  .section-title {
    font-size: 33px !important;
  }
  section {
    scroll-snap-align: start;
  }
  .snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  .tag-font {
    font-size: 16px;
  }
  .prj-img {
    height: 250px;
  }
  .prj-title {
    font-size: 22px;
  }
  .prj-abt {
    font-size: 20px;
  }
  .action {
    font-size: 17px;
  }
  .skill-cat {
    font-size: 25px;
  }
  .skl-box {
    width: 72px;
    height: 100px;
  }
  .skl-img {
    width: 55px !important;
  }
  .skl-icon {
    font-size: 43px;
  }
  .skl-name {
    font-size: 12px;
  }
  .work-com {
    font-size: 20px;
  }
  .work-des {
    font-size: 18px;
  }
  .work-pro {
    font-size: 16px;
  }
  .val-fed {
    font-size: 35px;
  }
  .t-field {
    font-size: 19px;
  }
  .socio {
    font-size: 25px;
  }
  .scl-box {
    min-width: 320px;
    max-width: 320px;
  }
  .tl-avatar {
    height: 170px;
    width: 170px;
  }
  .scl-year {
    font-size: 20px !important;
  }
  .scl-name {
    font-size: 25px;
  }
}

/* @include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
} */
/* @media only screen and (min-width: 1501px) {
  section {
    scroll-snap-align: start;
  }
  .snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  .prj-img {
    height: 320px;
  }
  .skill-cat {
    font-size: 32px;
  }
  .skl-box {
    width: 80px;
    height: 110px;
  }
  .skl-img {
    width: 60px !important;
  }
  .skl-icon {
    font-size: 50px;
  }
  .skl-name {
    font-size: 13px;
  }
  .work-com {
    font-size: 23px;
  }
  .work-des {
    font-size: 21px;
  }
  .work-pro {
    font-size: 19px;
  }
  .skill-cat {
    font-size: 25px;
  }
  .skl-box {
    width: 80px;
    height: 100px;
  }
  .skl-img {
    width: 55px !important;
  }
  .skl-icon {
    font-size: 43px;
  }
  .skl-name {
    font-size: 12px;
  }
  .section-title {
    font-size: 37px !important;
  }
  .prj-img {
    height: 280px;
  }
  .prj-title {
    font-size: 22px;
  }
  .prj-abt {
    font-size: 20px;
  }
  .val-fed {
    font-size: 40px;
  }
  .t-field {
    font-size: 22px;
  }
  .socio {
    font-size: 30px;
  }
  .scl-box {
    min-width: 350px;
    max-width: 350px;
  }
  .tl-avatar {
    height: 180px;
    width: 180px;
  }
  .scl-year {
    font-size: 22px !important;
  }
  .scl-name {
    font-size: 27px;
  }
} */

@media only screen and (min-height: 500px) and (max-height: 630px) and (min-width: 1000px) and (max-width: 1400px) {
  .name {
    font-size: 65px !important;
  }
  .abt-des {
    font-size: 20px !important;
  }
  .ddl {
    font-size: 32px;
  }
  .abt-text {
    width: 80vw;
  }
  .section-title {
    font-size: 26px !important;
  }
  section {
    scroll-snap-align: start;
  }
  .title-line {
    height: 5px;
  }
  .title-circle {
    height: 5px;
    width: 5px;
  }
  .snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  .tag-font {
    font-size: 12px;
  }
  .prj-img {
    height: 180px;
  }
  .prj-title {
    font-size: 17px;
  }
  .prj-abt {
    font-size: 15px;
  }
  .action {
    font-size: 12px;
  }
  .skill-cat {
    font-size: 18px;
  }
  .skl-box {
    width: 48px;
    height: 60px;
  }
  .skl-img {
    width: 35px !important;
  }
  .skl-icon {
    font-size: 33px;
  }
  .skl-name {
    font-size: 8px;
  }
  .work-com {
    font-size: 17px;
  }
  .work-des {
    font-size: 14px;
  }
  .work-pro {
    font-size: 12px;
  }
  .val-fed {
    font-size: 28px;
  }
  .t-field {
    font-size: 14px;
  }
  .socio {
    font-size: 20px;
  }
  .scl-box {
    min-width: 280px;
    max-width: 280px;
  }
  .tl-avatar {
    height: 130px;
    width: 130px;
  }
  .scl-year {
    font-size: 16px !important;
  }
  .scl-name {
    font-size: 20px;
  }
  .boxx {
    height: 25px;
    width: 25px;
  }

  .boxx-br {
    border-radius: 8px;
  }
}
